{% load static %}
<script src="{% static '../static/js/toastr.min.js' %}"></script>
<link href="{% static '../static/css/toastr.min.css' %}" rel="stylesheet"/>

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>
                toastr.{{ message.tags }}('{{ message }}');
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            </script>
        {% endif %}
    {% endfor %}
{% endif %}