{% extends "layout.html" %}
{% load static %}

{% block title %}home{% endblock %}

{% block content %}
    <section class="flexslider">
        <ul class="slides">
          <li style="background-image: url(https://res.cloudinary.com/dptrfsirm/image/upload/v1658811621/bg_logos/ascons12_twqjmi.png)" class="overlay">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="probootstrap-slider-text text-center">
                    <h1 class="probootstrap-heading probootstrap-animate">Your Bright Future is Our Mission</h1>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(https://res.cloudinary.com/dptrfsirm/image/upload/v1658736143/bg_logos/1636087167843_ridyji.jpg  )" class="overlay">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="probootstrap-slider-text text-center">
                    <h1 class="probootstrap-heading probootstrap-animate">Education is Life</h1>
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li style="background-image: url(https://res.cloudinary.com/dptrfsirm/image/upload/v1658736154/bg_logos/Capture3_u4cmnx.png)" class="overlay">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="probootstrap-slider-text text-center">
                    <h1 class="probootstrap-heading probootstrap-animate">Helping Each of Our Students Fulfill Their Potential</h1>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </section>

    <section class="probootstrap-section probootstrap-section-colored">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left section-heading probootstrap-animate">
          <h3 style="color: white;">Welcome to Anambra State College of Nursing Sciences Nkpor(ASCONS)</h3>
        </div>
      </div>
    </div>
    </section>

    <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate">
                  <h3>About School</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis explicabo veniam labore ratione illo vero voluptate a deserunt incidunt odio aliquam commodi blanditiis voluptas error non rerum temporibus optio accusantium!</p>
                  <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
                <div class="probootstrap-image probootstrap-animate" style="background-image: url(https://res.cloudinary.com/dptrfsirm/image/upload/v1658811653/bg_logos/ascons7_tdphwv.png); background-position: center">
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="probootstrap-section" id="probootstrap-counter">
    <div class="container">

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
          <div class="probootstrap-counter-wrap">
            <div class="probootstrap-icon">
              <i class="icon-users2"></i>
            </div>
            <div class="probootstrap-text">
              <span class="probootstrap-counter">
                <span class="js-counter" data-from="0" data-to="1527" data-speed="5000" data-refresh-interval="50">1</span>
              </span>
              <span class="probootstrap-counter-label">Students Enrolled</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
          <div class="probootstrap-counter-wrap">
            <div class="probootstrap-icon">
              <i class="icon-user-tie"></i>
            </div>
            <div class="probootstrap-text">
              <span class="probootstrap-counter">
                <span class="js-counter" data-from="0" data-to="50" data-speed="5000" data-refresh-interval="50">1</span>
              </span>
              <span class="probootstrap-counter-label">Certified Teachers</span>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block visible-xs-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
          <div class="probootstrap-counter-wrap">
            <div class="probootstrap-icon">
              <i class="icon-library"></i>
            </div>
            <div class="probootstrap-text">
              <span class="probootstrap-counter">
                <span class="js-counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="50">1</span>%
              </span>
              <span class="probootstrap-counter-label">government accredited</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">

           <div class="probootstrap-counter-wrap">
            <div class="probootstrap-icon">
              <i class="icon-smile2"></i>
            </div>
            <div class="probootstrap-text">
              <span class="probootstrap-counter">
                <span class="js-counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="50">1</span>%
              </span>
              <span class="probootstrap-counter-label">Student's Satisfaction</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <section class="probootstrap-section probootstrap-section-colored probootstrap-bg probootstrap-custom-heading probootstrap-tab-section" style="background-image: url(https://res.cloudinary.com/dptrfsirm/image/upload/v1658736136/bg_logos/Capture1_rpowgc.png)">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center section-heading probootstrap-animate">
          <h2 class="mb0">Highlights</h2>
        </div>
      </div>
    </div>
    <div class="probootstrap-tab-style-1">
      <ul class="nav nav-tabs probootstrap-center probootstrap-tabs no-border">
        <li class="active"><a data-toggle="tab" href="#featured-news">Featured News</a></li>
        <li><a data-toggle="tab" href="#upcoming-events">Upcoming Events</a></li>
      </ul>
    </div>
    </section>

    <section class="probootstrap-section probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="tab-content">

            <div id="featured-news" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                {% if latest_news %}
                  <div class="owl-carousel" id="owl1">
                      {% for ln in latest_news  %}
                        <div class="item">
                          <a href="{% url 'blogs:blog_detail' ln.slug %}" class="probootstrap-featured-news-box">
                            <figure class="probootstrap-media"><img src="{{ ln.image_url }}" alt="{{ ln.title }}" class="img-responsive" style="height: 350px; width: 400px;"></figure>
                            <div class="probootstrap-text">
                              <h3>{{ ln.title|title  }}</h3>
                              <p>{{ ln.description|truncatewords:10 }}</p>
                              <span class="probootstrap-date"><i class="icon-user"></i>{{ ln.author.get_full_name|title }}</span>
                              <span class="probootstrap-date"><i class="icon-calendar"></i>{{ ln.created|timesince }} ago</span>
                            </div>
                          </a>
                        </div>
                        <!-- END item -->
                      {% empty %}
                      {% endfor %}

                  </div>
                {% else %}
                  <div class="probootstrap-testimony-wrap text-center">
                    <blockquote class="quote">&ldquo;We currently have no news/articles for the school currently <br/>do visit often for our news/articles.&rdquo; <cite class="author"> &mdash; <span>Admin</span></cite></blockquote>
                  </div>
                {% endif %}
                </div>
              </div>
              <!-- END row -->
            {% if latest_news %}
              <div class="row">
                <div class="col-md-12 text-center">
                  <p><a href="{% url 'blogs:blog_list' %}" class="btn btn-primary">View all news</a></p>
                </div>
              </div>
            {% endif %}
            </div>
            <div id="upcoming-events" class="tab-pane fade">
              <div class="row">
                <div class="col-md-12">
                {% if upcoming_events %}
                  <div class="owl-carousel" id="owl2">

                      {% for ue in upcoming_events %}
                        <div class="item">
                          <a href="{% url 'events:event_detail' ue.slug %}" class="probootstrap-featured-news-box">
                            <figure class="probootstrap-media"><img src="{{ ue.image_url }}" alt="{{ ue.name }}" class="img-responsive" style="height: 350px; width: 400px;"></figure>
                            <div class="probootstrap-text">
                              <h3>{{ ue.name|title  }}</h3>
                              <span class="probootstrap-date"><i class="icon-calendar"></i>Start Date: {{ ue.start_date }}</span>
                              <span class="probootstrap-date"><i class="icon-calendar"></i>End Date: {{ ue.end_date }}</span>
                              <span class="probootstrap-location"><i class="icon-location2"></i>{{ ue.address|safe }}</span>
                            </div>
                          </a>
                        </div>
                        <!-- END item -->
                      {% empty %}
                      {% endfor %}

                  </div>
                {% else %}
                  <div class="probootstrap-testimony-wrap text-center">
                    <blockquote class="quote">&ldquo;We currently have no ongoing or planned school event <br/>do visit often for any on going event in the school.&rdquo; <cite class="author"> &mdash; <span>Admin</span></cite></blockquote>
                  </div>
                {% endif %}
                </div>
              </div>
            {% if upcoming_events %}
              <div class="row">
                <div class="col-md-12 text-center">
                  <p><a href="{% url 'events:event_list' %}" class="btn btn-primary">View all events</a></p>
                </div>
              </div>
            {% endif %}
            </div>

          </div>

        </div>
      </div>
    </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white probootstrap-border-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
          <h2>Our Featured Courses</h2>
          <p class="lead">Sed a repudiandae impedit voluptate nam Deleniti dignissimos perspiciatis nostrum porro nesciunt</p>
        </div>
      </div>
      <!-- END row -->
      <div class="row">

          {% for fc in featured_courses %}
            <div class="col-md-6">
              <div class="probootstrap-service-2 probootstrap-animate">
                <div class="image">
                  <div class="image-bg">
                    <img style="background-position: inherit;" src="{{ fc.image_url }}" alt="{{ fc.name }}">
                  </div>
                </div>
                <div class="text">
                  <span class="probootstrap-meta"><i class="icon-calendar2"></i>Starts: {{ fc.start_date }}</span>
                  <h3>{{ fc.name|title }}</h3>
                  <p>{{ fc.description|linebreaks|truncatewords:20 }}</p>
                  <p><a href="#" class="btn btn-primary">More</a> <span class="enrolled-count">{{ fc.get_num_of_enrolled_students }} students enrolled</span></p>
                </div>
              </div>
            </div>
          {% empty %}
              <div class="probootstrap-testimony-wrap text-center">
                <blockquote class="quote">&ldquo;We currently have no featured courses available <br/>do visit often for available featured courses we offer.&rdquo; <cite class="author"> &mdash; <span>Admin</span></cite></blockquote>
              </div>
          {% endfor %}

      </div>
    </div>
    </section>

    <section class="probootstrap-section probootstrap-bg probootstrap-section-colored probootstrap-testimonial" style="background-image: url(https://res.cloudinary.com/dptrfsirm/image/upload/v1658736142/bg_logos/Capture4_iomymn.png);">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
              <h2>Alumni Testimonial</h2>
              <p class="lead">What people and our past students says about us...</p>
            </div>
          </div>
          <!-- END row -->
          <div class="row">
            <div class="col-md-12 probootstrap-animate">
              <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth">
                <div class="item">

                  <div class="probootstrap-testimony-wrap text-center">
                    <figure>
                      <img src="https://res.cloudinary.com/dptrfsirm/image/upload/v1658811639/bg_logos/ascons6_o2wrch.png" alt="Free Bootstrap Template by ProBootstrap.com">
                    </figure>
                    <blockquote class="quote">&ldquo;The best school of nursing&rdquo; <cite class="author"> &mdash; <span>Chukwuka Marcel</span></cite></blockquote>
                  </div>

                </div>
                <div class="item">
                  <div class="probootstrap-testimony-wrap text-center">
                    <figure>
                      <img src="https://res.cloudinary.com/dptrfsirm/image/upload/v1658811639/bg_logos/ascons6_o2wrch.png" alt="Free Bootstrap Template by ProBootstrap.com">
                    </figure>
                    <blockquote class="quote">&ldquo;An institution for higher learning.&rdquo; <cite class="author"> &mdash;<span>Ebenezer Chibuike</span></cite></blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="probootstrap-testimony-wrap text-center">
                    <figure>
                      <img src="https://res.cloudinary.com/dptrfsirm/image/upload/v1658811639/bg_logos/ascons6_o2wrch.png" alt="Free Bootstrap Template by ProBootstrap.com">
                    </figure>
                    <blockquote class="quote">&ldquo;It's one of the best nursing schools to graduate from."&rdquo; <cite class="author">&mdash; <span>Justice Arinze</span></cite></blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="probootstrap-testimony-wrap text-center">
                    <figure>
                      <img src="https://res.cloudinary.com/dptrfsirm/image/upload/v1658811639/bg_logos/ascons6_o2wrch.png" alt="Free Bootstrap Template by ProBootstrap.com">
                    </figure>
                    <blockquote class="quote">&ldquo;It's a citadel of knowledge."&rdquo; <cite class="author">&mdash; <span>Rolland Ugonna </span></cite></blockquote>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- END row -->
        </div>
      </section>

{% endblock %}
